:root {
  --bg: #f6f6f4;
  --black: #111;
  --gray: #666;
  --card: #1c1c1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  font-family: "Inter", sans-serif;
  color: var(--black);
  overflow: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.icon i {
  font-size: 23px;
}

nav a {
  margin: 0 18px;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
}

.navbar input {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* HERO */
.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  align-items: center;
  padding: 80px 100px;
  min-height: calc(100vh - 120px);
}

/* DECORAÇÃO */
.decor {
  position: absolute;
  top: 10px;
  left: 50px;
}

.dots-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
  margin-bottom: 40px;
}

.dots-grid span {
  width: 6px;
  height: 6px;
  background: var(--black);
  border-radius: 50%;
}

.flowers {
  position: absolute;
  top: 15px;
  left: 540px; /* baseado no padding do hero */
  letter-spacing: 12px;
  font-size: 16px;
}

.flowers i {
  font-size: 18px;
  color: var(--black);
  margin-right: 12px;
}

/* TEXTO */
.hero-text .subtitle {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #111;
}

.hero-text h1 {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  margin-bottom: 10px;
}

.hero-text h1 span {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 1.05;
  margin-bottom: 10px;
}

.hero-text p {
  max-width: 420px;
  color: var(--gray);
  margin-bottom: 30px;
}

.hero-text button {
  padding: 14px 36px;
  background: transparent;
  border: 1px solid var(--black);
  cursor: pointer;
  font-size: 20px;
}

.cta {
  display: flex;
  align-items: center;
  gap: 30px;
  max-width: 520px;
}

.cta p {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: var(--black);
}


/* CARDS */
.cards {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.card {
  background: var(--card);
  border-radius: 22px;
  width: 290px;
  color: white;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card img {
  width: calc(100% - 40px);
  height: 320px;
  object-fit: cover;
  display: block;
  margin: 20px auto 0;
  border-radius: 16px;
}

.card-info {
  padding: 20px;
  text-align: center;
  font-size: 11px;
  color: #f6f6f4cc;
}

.card-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #f6f6f4;
}

/* CÍRCULOS */
.circles {
  position: absolute;
  bottom: -80px;
  right: 260px;
  display: flex;
  pointer-events: none;
}

.circles span {
  width: 120px;
  height: 120px;
  border: 1px solid var(--black);
  border-radius: 50%;
  margin-left: -40px;
}

/* SOCIAIS */
.social {
  position: absolute;
  right: 100px;
  bottom: 10px;
  display: flex;
  gap: 16px;
}

.social img {
  width: 30px;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.social img:hover {
  opacity: 1;
}
