* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0b0b0b;
  color: white;
  overflow-x: hidden;
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh;
}

#webgl {
  position: absolute;
  top: 0;
  left: 0;
}

.intro-text {
  position: absolute;
  bottom: 15%;
  left: 8%;
  max-width: 420px;

  padding: 2rem 2.2rem;

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );

  border-left: 2px solid rgba(255, 255, 255, 0.18);

  backdrop-filter: blur(3px);
}

.intro-text--right {
  right: 8%;
  left: auto;
  bottom: 18%;
  max-width: 340px;

  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.55),
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0)
  );

  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.15);
  text-align: right;
}


.intro-text h1 {
  font-size: 3.2rem;
  color: #ffffff;
  margin-bottom: 0.8rem;
  letter-spacing: 0.04em;
}

.intro-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1.2rem;
}

.intro-text .subtitle {
  font-size: 1.15rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.92);
  margin-bottom: 1.2rem;
}

.intro-text .atmosphere {
  font-size: 0.8rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.55);
}

.intro-text h1,
.intro-text p {
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
}

.intro-text::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 1px;
  height: 120%;
  background: rgba(255, 255, 255, 0.15);
}

.intro-text--right .small-title {
  font-size: 0.75rem;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.897);
  margin-bottom: 0.8rem;
}

.intro-text--right .right-text {
  font-size: 1rem;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.85);
}

.intro-text--right {
  backdrop-filter: blur(2px);
}
